@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Spicy+Rice&display=swap');

body {
  font-family: "Open Sans", "Avenir Next", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  /* background-color: #ddd; */
  background: url("../images/triangle-mosaic.webp");
}

a,
a:link {
  color: #7d4f3c;
}

a:visited {
  color: #999;
}

a:hover {
  color: rgba(118,81,63,0.5);
}

a:active {
  color: rgb(119,49,189);
}

h1,
h2, 
h3 {
  font-family: "Spicy Rice", "Avenir Next", "Arial", sans-serif;
}

ul li {
  list-style-type: "👉";
}