/* This is a comment! */

/*
body {
    color: black;
    background-color: gray;
}

figcaption {
    color: red;
}

#etymology {
    color:red;
}

.alt-row {
    color: red;
}

nav li {
    color: red;
}

*/

#volcanic-features h3 {
    color: red;
}

